<div class="header__nav-container">
  <a href="/src/index.html" class="link logo">
    <svg class="logo__icon" width="24" height="24">
      <use href="./image/header/symbol-defs.svg#icon-film"></use>
    </svg>
    <span class="logo__text">Filmoteka</span>
  </a>

  {{#if authenticate}}

    <nav class="header__navigation">
      <ul class="list header__navigation-list">
        <li><button class="nav-button current">Home</button></li>
        <li><button class="nav-button">My Library</button></li>
      </ul>
    </nav>
    <button type="button" class="auth-button" id="sign-out-button">Sign Out</button>

  {{else}}

    <button type="button" class="auth-button" id="sign-in-button">Sign In</button>

  {{/if}}

</div>

<div class="search-container">
  <label class="search">
    <input type="text" id="search-input" class="search__input" >
    <svg class="search__icon">
      <use href="../src/image/header/symbol-defs.svg#icon-search"></use>
    </svg>
  </label>
</div>

<div class="library-filter">
  <ul class="list library-filter__list">
    <li>
      <button class="action-button">Watched</button>
    </li>
    <li>
      <button class="action-button">Queue</button>
    </li>
  </ul>
</div>
