<div class="header__nav-container">
  <a href="/src/index.html" class="link logo">

    {{!-- <svg class="logo__icon" width="24" height="24">
      <use href="/src/image/header/symbol-defs.svg#icon-film"></use>
    </svg> --}}
    <span class="logo__text">Filmoteka</span>
  </a>

  {{#if authenticate}}

    <nav class="header__navigation">
      <ul class="list header__navigation-list">
        <li>
          <button
            id="header-home"
            class="nav-button {{#if (ifequal page 'home')}}current{{/if}}"
          >
            Home
          </button>
        </li>
        <li>
          <button
            id="header-library"
            class="nav-button {{#if (ifequal page 'library')}}current{{/if}}"
          >
            My Library
          </button>
        </li>
      </ul>
    </nav>
    <button type="button" class="auth-button"
    {{!-- id="sign-out-button" --}}
    id="sign-out"
    >Sign Out</button>
  {{/if}}

  {{#unless authenticate}}
    <button type="button" class="auth-button"
    {{!-- id="sign-in-button" --}}
    id="sign-in"
    >Sign In</button>
  {{/unless}}


</div>

{{#if (ifequal page "library")}}

  <div class="library-filter">
    <ul class="list library-filter__list">
      <li>
        <button
          id="header-watched"
          class="action-button {{#if (ifequal librarySection 'watched')}}active{{/if}}"
        >
          Watched
        </button>
      </li>
      <li>
        <button
          id="header-queue"
          class="action-button {{#if (ifequal librarySection 'queue')}}active{{/if}}"
        >
          Queue
        </button>
      </li>
    </ul>
  </div>

{{else}}

  <div class="search-container">
    <input type="text" id="search-input" class="search__input" required="">
    <label class="search__label">Movie search</label>
    <svg class="search__icon">
      <use href="/src/image/header/symbol-defs.svg#icon-search"></use>
    </svg>
  </div>
{{/if}}