<div class='lightbox__container tabs' id='tabs-1'>
  <button id='arrow-prev' data-next='' class='lightbox__arrow lightbox__arrow-prev'>«</button>


  <div class='tabs__nav'>
    {{#if videoSrc}}
    <button id='tab-info' class='tabs__btn {{#if (ifequal tab 'info')}}current-tab{{/if}}'>
      Info
    </button>
    <button id='tab-video' class='tabs__btn {{#if (ifequal tab 'video')}}current-tab{{/if}}'>
      Trailer
    </button>
     {{/if}}
  </div>


  <div class='tabs__content'>
    {{#if (ifequal tab 'info')}}
      <div class data-index='0'>
        <img src='' alt='' width='100px' height='150px' />
        <h2>{{title}}</h2>
        <p>{{about}}</p>
      </div>
    {{else}}
      <div data-index='1'>
        <p>video</p>
        {{!-- <div class='iframe'>
          <iframe class='player' id='player-1' src='{{videoSrc}}' width='560' height='315'>
          </iframe>
        </div> --}}
      </div>
    {{/if}}
  </div>

  <div class = 'lightbox__close-btn'>&#215</div>

  <button id = 'arrow-next' data-next='' class='lightbox__arrow lightbox__arrow-next'>»</button>
</div>

