:root {
  --primary-font: "Roboto", sans-serif;;
  --primary-text-color-theme-dark: #fff;
  --primary-text-color-theme-light: #000;
  --accent-color: #ff6b08;
  --accent-focus-color: #188ce8; // TODO
  --transition-dur-and-fun: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}