<section>
  <h2>Card example markup</h2>
  <div class="container">
    <div class="film-card">
      <a href="#" class="film-card__link link" data-id="1">
        <picture class="film-card__picture">
          <source
            srcset="
              ./images/card/desktop/rectangleDesktop5@1x.jpg 1x,
              ./images/card/desktop/rectangleDesktop5@2x.jpg 2x
            "
            media="(min-width: 1280px"
          />
          <source
            srcset="
              ./images/card/tablet/rectangleTablet@1x.jpg 1x,
              ./images/card/tablet/rectangleTablet@2x.jpg 2x
            "
            media="(min-width: 768px"
          />
          <source
            srcset="
              ./images/card/mobile/rectangleMobile@1x.jpg 1x,
              ./images/card/mobile/rectangleMobile@2x.jpg 2x
            "
            media="(min-width: 320px"
          />
          <img
            src="./images/card/mobile/rectangleMobile@1x.jpg"
            alt="man at the sea with warships"
            class="filmoteka__image"
          />
        </picture>
        <p class="film-card__name">GREYHOUND</p>
        <p class="film-card__data">
          Drama, Action <span class="film-card__divider">&nbsp;|&nbsp;</span>
          <span class="film-card__year">2020</span><span class="film-card__rating">10.0</span>
        </p>
      </a>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, assumenda sapiente obcaecati
      quidem tempora consectetur quas magnam, aliquid reiciendis earum dolores suscipit nostrum.
      Corporis quos veniam vel veritatis perspiciatis in ea dolorum assumenda itaque exercitationem.
      Aspernatur delectus voluptatibus eligendi suscipit rerum, dolores voluptate! Ipsa vitae
      dolorum amet, cum similique aliquam. Aliquid voluptates aliquam nam ipsa, enim expedita in
      optio, consequatur possimus, beatae animi maxime illum est laudantium eaque adipisci
      molestiae? Explicabo, atque accusamus. Sit temporibus, asperiores error vel maiores corporis
      laudantium mollitia necessitatibus recusandae iste impedit nobis enim illum reiciendis, cumque
      ab accusantium aliquid porro nesciunt fugit, voluptas quibusdam voluptate? Veritatis, dolorum.
      Explicabo, obcaecati nesciunt dolore pariatur a aliquid, vel quaerat odit recusandae
      perferendis perspiciatis placeat hic ut fugit molestias harum adipisci officiis animi maxime
      quisquam culpa ad nemo atque. Autem, odio non quae voluptatibus quia animi dolorem expedita
      delectus eligendi ad, consectetur optio amet atque, corporis placeat provident voluptatem quis
      ullam voluptates tempore? Sed harum animi corporis perspiciatis, suscipit sapiente quidem.
      Beatae, quam maiores ratione sint praesentium atque tenetur unde deserunt perspiciatis,
      doloremque aspernatur, nihil porro eligendi quidem? Et similique ipsa quam deserunt quidem ab
      ratione qui! Voluptate recusandae officiis, maxime explicabo iusto aliquam minima, officia
      nobis repellat eum eligendi aliquid eius reprehenderit asperiores ipsam error at cum illum
      quisquam fugiat unde voluptatibus deleniti nemo ex! Odit dicta itaque, laboriosam soluta
      beatae nobis ratione reprehenderit voluptatem consectetur eum, quisquam asperiores possimus,
      mollitia maiores amet! Cumque exercitationem enim natus in suscipit quia facere? Aut, error
      veniam. Necessitatibus voluptas commodi vero accusantium doloribus placeat rem vitae
      praesentium voluptate at nisi assumenda voluptatum aliquid quidem ullam fuga earum neque alias
      inventore nulla, obcaecati laudantium sed saepe dolore. Inventore, assumenda. Officiis, ipsa
      corrupti saepe quo, earum autem ipsum rem assumenda reprehenderit molestiae provident ullam,
      architecto ea quae ut soluta sint! Aspernatur ipsa dolore maxime excepturi qui ullam
      blanditiis quaerat repudiandae earum, minus accusantium dolorem aut voluptatibus iste facere
      temporibus quidem beatae at mollitia debitis, facilis tempora cum modi illo. Repudiandae,
      necessitatibus totam perferendis sit reiciendis error voluptatum veniam ratione dignissimos
      nisi, cupiditate pariatur a unde minima incidunt perspiciatis itaque voluptates? Reprehenderit
      exercitationem eligendi accusantium tempora, corporis pariatur. Incidunt placeat quibusdam
      dolorum, fugiat, iste voluptatibus eos facilis, eum harum similique reprehenderit unde! Nulla,
      molestiae officiis illo nam ipsum deserunt fugiat earum iusto sapiente laborum? Animi,
      expedita autem? Perspiciatis labore nemo amet, odio ea deleniti atque itaque ratione rerum
      sunt esse maiores animi nulla distinctio magni cum repellendus ullam unde neque laudantium
      possimus temporibus harum. Voluptates tenetur, adipisci quisquam sapiente eos doloremque
      facilis. Quia aliquam excepturi ullam debitis cum nesciunt. Eius amet sunt eaque nemo
      dignissimos! Recusandae quos, eum unde minus, harum eligendi, odio numquam reprehenderit ut
      beatae eos doloribus eius sit? Totam, magnam quas. Repellat rem pariatur nisi alias veritatis
      eveniet, nam minima, necessitatibus blanditiis numquam deserunt nobis sit? Culpa maiores sint
      amet vel rerum maxime, quo odit blanditiis velit veniam esse fuga nemo corrupti! Odio optio
      sunt distinctio consectetur ducimus expedita et incidunt laudantium obcaecati qui tempora
      voluptatum odit nihil alias totam placeat sapiente ab libero repellat eum, corrupti atque
      temporibus? Quas hic deserunt voluptates odit tempore necessitatibus laborum reprehenderit
      repudiandae! Fugit commodi, quaerat ex sint est perferendis, voluptate repudiandae ratione
      nostrum modi, quas totam possimus animi? Voluptatibus perspiciatis ipsum sit architecto nisi
      veritatis dicta fugiat! Rerum sequi sint doloribus, ex dignissimos harum molestias laborum
      laboriosam velit debitis error cum quasi nostrum ipsam quidem. Animi repellat nostrum quaerat
      ducimus sunt porro adipisci ea nam, maiores, quasi numquam similique, doloribus expedita minus
      provident velit voluptas nihil. Fuga, nisi. Soluta tempore esse velit consectetur dolores
      rerum distinctio iusto consequuntur nisi asperiores, pariatur non quaerat sit, commodi neque
      error, eum sapiente vitae officia numquam architecto eius! Neque, deleniti non, iste culpa in
      vel suscipit alias aliquid enim et inventore aperiam reprehenderit. Officia odio mollitia
      ducimus quae nobis. Corrupti eum velit praesentium laboriosam odio autem fugit porro maiores
      ab, nostrum quod quaerat blanditiis voluptas repellat? Itaque possimus at aliquid pariatur
      deserunt natus et quos ipsam suscipit nostrum mollitia, iusto magnam? Voluptates porro quam
      natus voluptatibus atque totam veniam velit sunt sapiente iste modi cumque inventore, pariatur
      fugiat quod debitis tenetur ad minima beatae a reprehenderit. Iure in inventore impedit nisi
      quis eum consequatur nobis tempore quibusdam cumque minus velit nemo, alias, culpa commodi sit
      odio, quasi reiciendis! Tempore, numquam. Iusto quis repudiandae illo! Tenetur dolorum
      provident, ab voluptatum ea tempore libero voluptas dolores eum iure quia reprehenderit nemo
      optio commodi aspernatur iste doloremque hic velit ipsam at delectus quaerat reiciendis nihil
      nesciunt? Ex odio aut necessitatibus delectus laborum culpa facilis veniam possimus fugiat
      animi magnam iusto dolorum quia nemo dignissimos, unde consequatur inventore a enim nobis
      tempore. Excepturi veritatis nisi quae voluptas, est porro voluptates natus, assumenda
      accusantium, perferendis quis architecto impedit velit molestias quod magnam deleniti
      repellendus temporibus quam eligendi eius alias? Non cupiditate ullam in dicta aliquam aut
      asperiores quam? Labore officiis enim autem molestias facere in, ducimus ex unde, rerum illo
      culpa fuga, aliquam veritatis? Alias, similique libero id laudantium accusamus fugit
      cupiditate ad excepturi corrupti cum voluptatibus repellendus reprehenderit quas consectetur
      eveniet quod placeat aspernatur sint sed. Quos sint quisquam voluptates laboriosam excepturi.
      Commodi quia, provident nobis incidunt enim tenetur vitae excepturi. Blanditiis ex distinctio
      similique obcaecati enim esse dolore minima veniam asperiores iste deleniti earum sunt
      praesentium quaerat vitae eveniet eius corrupti, delectus molestias temporibus iure rem natus
      commodi. Dolorem, eligendi minima tenetur enim ducimus est, vero accusamus recusandae
      assumenda inventore nisi delectus. Illo ad, amet numquam soluta est voluptatem impedit quidem
      perferendis culpa repellat obcaecati repudiandae doloremque consequatur voluptates sed tenetur
      voluptate ipsam fuga, itaque nemo odio possimus, magni earum saepe. Ea dolore soluta ullam
      asperiores repellat veniam, possimus nesciunt perferendis accusamus expedita perspiciatis
      inventore delectus sapiente quisquam quis quae consequuntur dolorum similique debitis, optio
      earum et enim. Delectus quos excepturi, hic et at magnam maxime consequuntur ipsam rem veniam
      possimus, nemo atque, dolorem harum cupiditate expedita adipisci odio? Numquam ratione ipsum
      dolor vero corrupti, alias accusamus ipsa error omnis dolore neque dicta dolorem molestiae?
      Eligendi odio repudiandae blanditiis inventore officiis.
    </p>
  </div>
</section>
