<header class="header library">
    <div class="header-container">
        <a href="/src/index.html" class="link filmoteka">
            <svg class="logo__film">
                <use href="../src/image/header/symbol-defs.svg#icon-film"></use>
            </svg><span class="filmoteka-span">Filmoteka</span></a>
        <nav class="header-navigation">
            <ul class="header-navigation_list list">
                <li><a href="/" class="link header__link ">HOME</a></li>
                <li><a href="./library.html" class="link header__link active__link">MY LIBRARY</a></li>
                <li><button type="button" class="header-btn">LOG OUT</button></li>
            </ul>
        </nav>
    </div>
    <ul class="list ">
        <li><button type="button" class="header-btn library_btn active_btn">WATCHED</button></li>
        <li><button type="button" class="header-btn library_btn">QUEUE</button></li>
    </ul>