<header class="header">
  <div class="header-container">
    <a href="/src/index.html" class="link filmoteka">
      <svg class="logo__film">
        <use href="../src/image/header/symbol-defs.svg#icon-film"></use>
      </svg><span class="filmoteka-span">Filmoteka</span></a>
    <nav class="header-navigation">
      <ul class="header-navigation_list list">
        <!-- no authorization 
        notAuthorization(); - js
        -->

        <!-- authorization 
        autorization(); - js
        -->

      </ul>
    </nav>
  </div>
  <label class="header-search">
    <input type="text" class="header-search__input" placeholder="Movie search">
    <svg class="logo__search"><use href="../src/image/header/symbol-defs.svg#icon-search"></use>
  </svg></label>
  
  </svg>
</header>
