$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;

.scroll-disable {
  overflow: hidden;
}

.basicLightbox {
  background: none;
}

.lightbox__container {
  width: 280px;

  background-color: #ffffff;
  padding: 50px 40px;
  //padding-top: 0;
  box-shadow: 1px 2px 3px 0px #aa8a8a;
  position: relative;
}

.lightbox__close-btn {
  font-size: 26px;
  padding: 7px;
  transition: border $animation-duration $timing-function,
    color $animation-duration $timing-function;

  &:hover {
    border: 1px solid #818181;
    color: #818181;
  }
}

.lightbox__arrow {
  position: absolute;
  border: none;
  background: transparent;
  opacity: 0.5;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 600;
  font-size: 40px;
  padding: 10px;

  justify-content: center;
  &-prev {
    top: 50%;
    left: 0;
  }
  &-next {
    top: 50%;
    right: 0;
  }
  &:hover {
    opacity: 0.8;
    transition: all 0.3s ease;
    color: #ff6b01;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .lightbox__arrow {
    display: none;
  }

  .lightbox__container {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .lightbox__container {
    width: 704px;
  }
}

@media screen and (min-width: 1280px) {
  .lightbox__container {
    width: 806px;
  }
}
