$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;

.film-modal-info-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.film-info__arrow {
  //position: absolute;
  border: none;
  background: transparent;
  opacity: 0.5;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 600;
  font-size: 40px;
  padding: 10px;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  //&-prev {
  //  left: 0;
  //}
  //&-next {
  //  right: 0;
  //}
  &:hover {
    opacity: 0.8;
    transition: all 0.3s ease;
    color: #ff6b01;
  }
}

.film-modal-content-container {

}

@include media-in-mobile-resolution {
  .lightbox__arrow {
    display: none;
  }

  .lightbox__container {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@include media-from-tablet-resolution {
  .lightbox__container {
    width: 704px;
  }
}

@include media-from-desktop-resolution {
  .lightbox__container {
    width: 806px;
  }
}












.tabs {
  border: 1px solid #e0e0e0;

  margin-left: auto;
  margin-right: auto;
}

.tabs__nav {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  background: #fafafa;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  border: none;
}

.tabs__btn {
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: black;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 1;
  border: 1px solid transparent;
  cursor: pointer;
}

.current-tab {
  background: #e0e0e0;
  cursor: default;
}

.tabs__btn:not(.current-tab):hover,
.tabs__btn:not(.current-tab):focus {
  background-color: #eee;
}

// ====================================Tab=======================//

//====================================Container info========================= //


.film-img {
  width: 240px;
  height: 357px;
}

.film-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.15;
}

.film-info {
  margin-top: 20px;
}

.votes {
  display: flex;
  gap: 40px;
}

.film-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  color: #8c8c8c;
}

.film-text-color {
  color: var(--primary-text-color-theme-light);
}

.film-rating {
  padding: 1px 10px;
  background-color: var(--accent-color);
  border-radius: 5px;
  color: var(--primary-text-color-theme-dark);
}

.rating {
  padding: 1px 4px;
  color: var(--primary-text-color-theme-light);
  background-color: #f7f7f7;
  border-radius: 5px;
}

.popularity {
  margin-top: 9px;
  display: flex;
  gap: 51px;
}

.original-title {
  margin-top: 9px;
  display: flex;
  gap: 39px;
}

.genre {
  margin-top: 9px;
  display: flex;
  gap: 75px;
}

.about-film {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
}

.about-film-info {
  margin-top: 8px;
  max-width: 240px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.66;
}

.btn-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-watched {
  width: 110px;
  height: 44px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  border: none;
}

.btn-queue {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-transform: uppercase;
  width: 110px;
  height: 44px;
  background-color: var(--primary-text-color-theme-dark);
  border: none;
}

.left-side {
  position: relative;
}

.gradient-button {
  text-decoration: none;
  display: inline-block;
  color: white;
  border-radius: 10px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #ff6b01 0%, #f03333 51%, #9d4404 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow var(--transition-dur-and-fun);
}
.gradient-button:hover {
  background-position: right center;
}

.glow-button {
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px var(--accent-color) inset, 0 0 0 0 var(--accent-color);
  color: white;
  transition: box-shadow var(--transition-dur-and-fun);
}
.glow-button:hover {
  box-shadow: 0 0 10px 0 var(--accent-color) inset, 0 0 10px 4px var(--accent-color);
  color: var(--accent-color);
}

@include media-in-mobile-resolution {
  .film-title {
    margin-top: 20px;
  }
}

@include media-from-tablet-resolution {
  .film-modal {
    width: 704px;
  }

  .film-img {
    width: 264px;
    height: 374px;
  }

  .side-container {
    display: flex;
    gap: 15px;
  }

  .btn-container {
    gap: 15px;
  }

  .btn-watched {
    width: 125px;
  }

  .btn-queue {
    width: 125px;
  }
}

@include media-from-desktop-resolution {
  .film-modal {
    width: 806px;
    padding: 40px 12px;
  }

  .film-img {
    width: 375px;
    height: 478px;
  }

  .side-container {
    display: flex;
    gap: 16px;
  }

  .about-film-info {
    width: 391px;
  }

  .btn-container {
    gap: 15px;
  }

  .btn-watched {
    width: 136px;
  }

  .btn-queue {
    width: 136px;
  }
}
//====================================Container info========================= //

.iframe {
  margin-top: 20px;
  --bs-aspect-ratio: calc(9 / 16 * 100%);
  position: relative;
  width: 100%;
  height: 100%;
}

.iframe::before {
  display: block;
  padding-top: var(--bs-aspect-ratio);
  content: '';
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
