.header {
  color: #fff;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-image: url(/src/images/header/background-header-mobile-1x.png);
  padding: 40px 20px;
  height: 230px;
  max-width: 320px;

  @include media-from-tablet-resolution {
    max-width: 768px;
    background-image: url(/src/images/header/background-header-tablet-1x.png);
    padding: 40px 32px;
    height: 216px;
  }

  @include media-from-desktop-resolution {
    max-width: 1280px;
    background-image: url(/src/images/header/background-header-x1.png);
  }

  &.library {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),url(/src/images/header/background-library-mobile-1x.png);

    @include media-from-tablet-resolution{
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),url(/src/images/header/background-library-tablet-1x.png);
    }

    @include media-from-desktop-resolution {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),url(/src/images/header/background-library-desktop-1x.png);
    }
  }
}

.header__nav-container {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;

  @include media-from-tablet-resolution {
    gap: 40px;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  pointer-events: none;

}

.logo__icon{
  width: 24px;
  height: 24px;

  margin-right: 12px;
  stroke: white;

  transition: stroke var(--transition-dur-and-fun);
}

.logo__text {
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;

  @include media-to-tablet-resolution {
    display: none;
  }
}

.header__navigation-list {
  height: 100%;
  display: flex;
  gap: 32px;
  align-items: center;

  @include media-from-tablet-resolution {
    gap: 40px;
  }
}

.nav-button {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  position: relative;

  color: #fff;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.16;
  text-transform: uppercase;

  &:hover, &:focus {
    color: var(--accent-color);
  }

  &.current {
    pointer-events: none;

    &::after {
      @include pseudo;
      height: 3px;
      width: 100%;
      background-color: var(--accent-color);

      left: 0;
      border-radius: 1px;
      bottom: -3px;
    }
  }

    @include media-from-tablet-resolution{
      font-size: 12px;
    }
}

.auth-button {
  margin-top: 2px;
  padding: 5px;
  padding-top: 6px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border-color: white;
  color: white;

  font-weight: 500;
  font-size: 11px;
  line-height: 1.16;
  text-transform: uppercase;

  transition: box-shadow, background-color var(--transition-dur-and-fun);

  &:hover,
  &:focus {
    padding: 7px;
    padding-top: 8px;
    color: black;
    border: 0;
    outline: none;
    border-color: none;
    background-color: var(--accent-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @include media-from-tablet-resolution {
    font-size: 12px;
  }
}

.search-container {
  position: relative;

  margin-top: 40px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;

  @include media-from-tablet-resolution {
    max-width: 336px;
  }

  @include media-from-desktop-resolution {
    max-width: 394px;
  }
}

.search__icon {
  width: 12px;
  height: 12px;
  stroke: white;

  position: absolute;
  right: 0;
  top: 22;


  transition: stroke var(--transition-dur-and-fun);
}

.search__input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid var(--primary-text-color-theme-dark);
  outline: none;
  background: transparent;

  &:hover,
  &:focus {
    border-bottom: 2px solid var(--accent-color);
  }

  &:hover ~ .search__icon,
  &:focus ~ .search__icon {
    stroke: var(--accent-color);
  }
}

.search__label{
  position: absolute;
  top: 8px;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.search__input:focus ~ .search__label,
.search__input:valid ~ .search__label {
  top: -20px;
  left: 0;
  color: var(--accent-color);
  font-size: 12px;
}

.library-filter {
  display: flex;
}

.library-filter__list {
  display: flex;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
  justify-content: center;
  align-items: center;

  @include media-from-tablet-resolution {
    margin-top: 40px;
    gap: 32px;
  }
}

.action-button {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border-color: var(--primary-text-color-theme-dark);
  color: var(--primary-text-color-theme-dark);

  font-weight: 500;
  font-size: 11px;
  line-height: 1.16;
  text-transform: uppercase;

  transition: box-shadow, background-color var(--transition-dur-and-fun);

  &:hover,
  &:focus {
    color: #fff;
    border: 0;
    outline: none;
    border-color: none;
    background-color: var(--accent-color);
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  }

  width: 130px;
  height: 44px;

  @include media-from-tablet-resolution {
    width: 152px;
  }

  &.active{
    border: 0;
    pointer-events: none;
    background-color: var(--accent-color);
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  }
}