//--vars
//colors
$accent-color: #818181;
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$credits-text-color: #545454;
$modal-topic-color: #8c8c8c;
$secondary-bg-color: #f7f7f7;
$filters-text-color: #dbdbdb;

$sn-svg-color: #545454;


$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//--styles
.contacts {
  &__title {
    margin-bottom: 10px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    margin-left: -10px;
    margin-top: -10px;
  }

  &__item {
    margin-left: 10px;
    margin-top: 10px;
  }
}

.contact-card {
  padding: 30px 0 40px;
  width: 102px;
  height: 245px;
  position: relative;
  background-color: $secondary-bg-color;
  text-align: center;
  overflow: hidden;
  border-radius: 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);

  @include media-from-desktop-resolution {
    width: 150px;
  }

  &__link {
    color: inherit;

    &:focus {
      outline: none;
    }

    &--wrapper {
      position: absolute;
      justify-content: center;
      align-items: center;

      @include media-to-tablet-resolution {
        margin-top: 6px;
        width: 18px;
        height: 18px;
      }

      @include media-from-tablet-resolution {
        margin-top: 6px;
        width: 18px;
        height: 18px;
      }

      @include media-from-desktop-resolution {
        margin-top: 3px;
        width: 25px;
        height: 25px;
      }
    }
  }

  &__picture {
    display: inline-block;
    height: 95px;
    width: 95px;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;

    @include media-from-desktop-resolution {
      width: 110px;
      height: 110px;
    }

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  &:hover &__picture::before,
  &__link:focus &__picture::before {
    height: 100%;
  }

  &__title {
    color: $credits-text-color;
    list-style: none;

    @include media-to-tablet-resolution {
      scale: 0.8;
    }

    @include media-from-tablet-resolution {
      scale: 0.8;
    }

    @include media-from-desktop-resolution {
      scale: 0.95;
    }
  }

  &__name {
    margin-bottom: 5px;
    color: $accent-color;
    font-weight: 500;

    @include media-to-tablet-resolution {
      scale: 0.8;
    }

    @include media-from-tablet-resolution {
      scale: 0.8;
    }

    @include media-from-desktop-resolution {
      scale: 0.95;
    }
  }

  &__img-fluid {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 900ms ease 0ms;
  }

  &:hover &__img-fluid,
  &__link:focus &__img-fluid {
    box-shadow: 0 0 0 14px $filters-text-color;
    transform: scale(0.7);
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 100%;
    height: 33px;
    padding: 2px;
    margin: 0;

    background-color: $filters-text-color;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 500ms $timing-function;

    & > .sn-list {
      list-style: none;
      display: flex;

      & li {
        display: block;
        @include media-to-tablet-resolution {
          margin-top: 6px;
          width: 18px;
          height: 18px;
        }

        @include media-from-tablet-resolution {
          margin-top: 6px;
          width: 18px;
          height: 18px;
        }

        @include media-from-desktop-resolution {
          margin-top: 3px;
          width: 25px;
          height: 25px;
        }

        transition: scale 500ms $timing-function;

        &:hover {
          scale: 0.8;
        }
      }

      & li + li {
        margin-left: 5px;
      }
    }

  }

  &:hover &__bottom {
    bottom: 0;
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: $sn-svg-color;
  }
}